<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.renderRendering>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.InitializeProfiling, Sitecore.Mvc']" type="SBR.Sitemap.Pipelines.Response.RenderRendering.SitemapItemProcessor, SBR.Sitemap"/>
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>